# Reshaping and Pivot Tables

Doc Sources: 
* https://pandas.pydata.org/pandas-docs/stable/generated/pandas.pivot_table.html    
* https://pandas.pydata.org/pandas-docs/stable/reshaping.html

While pivot() provides general purpose pivoting with various data types (strings, numerics, etc.), pandas also provides pivot_table() for pivoting with aggregation of numeric data.

The function pivot_table() can be used to create spreadsheet-style pivot tables. See the cookbook for some advanced strategies.

It takes a number of arguments:

* data: a DataFrame object.
* values: a column or a list of columns to aggregate.
* index: a column, Grouper, array which has the same length as data, or list of them. Keys to group by on the pivot * table index. If an array is passed, it is being used as the same manner as column values.
* columns: a column, Grouper, array which has the same length as data, or list of them. Keys to group by on the * pivot table column. If an array is passed, it is being used as the same manner as column values.
* aggfunc: function to use for aggregation, defaulting to numpy.mean.

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
# One best practice is to ask questions about the dataset before moving into modeling:

# * what age group does have more balance or any other interesting column.
# * what AGE group have the most balance of the cards/accounts. 
# * etc.

In [ ]:
# read in the csv file aka dataframe creation

url_data = "https://raw.githubusercontent.com/sb0709/bootcamp_KSU/master/Data/data.csv"
data = pd.read_csv(url_data,sep=',') # for specify the index we use here the colums "0" when reading the data: , index_col=0

In [ ]:
#check the dataframe shape.

print(data.shape) # to can get the shape of our dataframe, so we have 1k observations and 11 columns(variables)

print(data.head()) # to can see the top 5 observations from our dataset

print(data.describe())

# Simple explanation of what is the structure of the "pivot_table" and "pivot"

* data is self explanatory - it's the DataFrame you'd like to use
* index is the column, grouper, array (or list of the previous) you'd like to group your data by. It will be displayed in the index column (or columns, if you're passing in a list)
* values (optional) is the column you'd like to aggregate. If you do not specify this then the function will aggregate all numeric columns.

In [ ]:
# sort data in pandas example

data.sort_values(['AGE', "DELQID"], ascending=[True, False], inplace=True)

In [ ]:
# here is sorted dataframe used for the pivot_table creation

data[['goodbad', 'AGE_groups', 'DELQID', 'TRADES']].head()

In [ ]:
#or cab be used mean or any other numpy valid aggregation function and multiple index as well and here we don't specify the colun so be
# One way to look at our data is single index and we use values as a "count" 
# This way we are see that "bad" has 813 TRADES and "good" has 187 TRADES 

pd.pivot_table(data,index=['goodbad'], values=['TRADES'], aggfunc='count')

# One approach of visualisation we can use as the 'count' aggregation function and we use here single index

# Another way is to use the "columns" parameter to can better display the data

In [ ]:
# use as the 'count' aggregation function and we use here single index

# Another way is to use the "columns" parameter to can better display the data 

pd.pivot_table(data, index=['goodbad'], columns=['AGE_groups'], values=['TRADES'], aggfunc='count')

# Other visualisation we can use as the 'count' aggregation function and we use here single index and 2 or more columns passed to 'values' parameter.

In [ ]:
# use as the 'count' aggregation function and we use here single index and 2 or more columns passed to 'values' parameter. 


pd.pivot_table(data, index=['goodbad'], columns=['AGE_groups'], values=['BRNEW', 'BRAGE'], aggfunc='count')

In [ ]:
# use the 'sum' as the aggregation function by using multiple index:

pd.pivot_table(data, index=['goodbad', 'AGE_groups'], columns=['DELQID'], values='TRADES',  aggfunc=np.sum)

In [ ]:
#using the 'np.mean' as the aggregation function by using multiple index:

pd.pivot_table(data, index=['goodbad', 'AGE_groups'], columns=['DELQID'], values='TRADES',  aggfunc=np.mean)

# Create a pivot table of group score counts, by goodbad and AGE_groups

In [ ]:
#or cab be used mean or any other numpy valid aggregation function and multiple index as well and here we don't specify the colun so be


pd.pivot_table(data,index=['goodbad','AGE_groups'], values=["TRADES"], aggfunc='count')

In [ ]:
pd.pivot_table(data,index=['goodbad','AGE_groups'], values=["TRADES"], aggfunc=np.sum)

In [ ]:

rbal_tabled = pd.pivot_table(data,index=['goodbad','AGE_groups'],values=["RBAL"], aggfunc=np.sum)
rbal_tabled

In [ ]:
#get max value of the 'DELQID' column. 

data['DELQID'].max()

In [ ]:
#get min value of the 'DELQID' column. 

data['DELQID'].min()

In [ ]:
# We can bin the data and pass directly to pivot_table function and will keep the original name DELQID when visualizing the pivot_table.  

d_id = pd.cut(data['DELQID'], [0, 3, 7])
pd.pivot_table(data,index = ['goodbad', d_id], values=['RBAL'], columns=['AGE_groups'], 
              aggfunc= [np.mean, np.median, min, max, np.std])

In [ ]:
# We can bin the data and pass directly to pivot_table function and will keep the original name DELQID when visualizing the pivot_table.  

d_id = pd.cut(data['DELQID'], [0, 1, 2, 3, 4, 5, 6, 7])
rbal_crelim_tabled = pd.pivot_table(data,index = ['goodbad', d_id], columns=['AGE_groups'], values=['RBAL','CRELIM'],
                                    aggfunc={'RBAL': np.mean,
                                             'CRELIM': [min, max, np.mean]},fill_value=0) # fill_value=0 does fil NA with 0

In [ ]:
rbal_crelim_tabled

# Advanced pivot_table Filtering

In [ ]:
rbal_crelim_tabled.query('goodbad == ["0"]')

# Visualizing the pivot_table by using matplotlib and Seaborn

In [ ]:
%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns
# use Seaborn styles
sns.set()  

pd.pivot_table(data, index=['goodbad','AGE_groups'],values=["RBAL"], aggfunc=np.sum).plot(kind= 'bar')
plt.ylabel("Revolving Balance")

# here we can see what age group does have the most RBAL and by visualizing we can get a feel of the groups containing the most Balance

# Working with SQl statements in pandas similar to 'sqldf' package in R.

In [ ]:
from pandasql import sqldf



q = """ 
        SELECT
            * 
        FROM 
            data 
        LIMIT 10;"""

 
print(sqldf(q, locals()))

#####  locals() vs. globals()
    pandasql needs to have access to other variables in your session/environment. You can pass locals() to pandasql when executing a SQL statement, but if you're running a lot of queries that might be a pain. To avoid passing locals all the time, you can add this helper function to your script to set globals() like so:

In [ ]:
# we can do joint, groupBy and most of the standard SQL queries to our dataframe.

def pysqldf(q):
    return sqldf(q, globals())
    
q = """
    SELECT
        *
    FROM
        data
    LIMIT 10;""" # q is just a name for our query

print(pysqldf(q))

### Since `pandasql` is powered by SQLite3, you can do most anything you can do in `SQL`. Here are some examples using common `SQL` features such as `subqueries`, `order by`, `functions`, and `unions`.

Fore more info: http://blog.yhat.com/posts/pandasql-sql-for-pandas-dataframes.html

In [ ]:
# Where clause SQL 

q_where = """
    SELECT
        RBAL
        , TRADES
        , AGE
        , DELQID
        , CRELIM
    FROM
        data
    WHERE
        AGE >= 50
    ORDER BY AGE DESC
    LIMIT 10;
    """

print(pysqldf(q_where))

In [ ]:
# Where clause SQL 

q_where_1 = """
    SELECT
        RBAL
        , TRADES
        , AGE
        , DELQID
        , CRELIM
    FROM
        data
    WHERE
        AGE >= 50
    ORDER BY AGE DESC;
    """

print(pysqldf(q_where_1).head(20))

In [ ]:
# you can simple create new dataframe as follow: 

age_50_up = pysqldf(q_where_1)

print(age_50_up.head(20))
print()

print(age_50_up.info())

# Exercise: 

* write a query of any choice for the `data` dataframe

# Q&A